.centerElem {
    margin: auto;
    width: 100%;
    padding: 10px;
}

.disabledLink {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;

}

.modalControl {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}